<div class=" mt-5" id="categories ">
    <h4 class=" d-inline col-2 pe-3  border-end border-2 border-dark ">Categories</h4>
    <div >
        <ul class="list-group list-group-flush ms-1" id="categories" style="background-color:#E8E6E2 ;">
            <li class="list-group-item" style="background-color: inherit;"><a class="text-muted" href=""> An item</a></li>
            <li class="list-group-item" style="background-color: inherit;"><a class="text-muted" href=""> An item</a></li>
            <li class="list-group-item" style="background-color: inherit;"><a class="text-muted" href=""> An item</a></li>
            <li class="list-group-item" style="background-color: inherit;"><a class="text-muted" href=""> An item</a></li>
          </ul>
    </div>
</div>