<nav class="navbar navbar-expand-sm  " id="navbar">
    <div class="container-fluid w-100">
        <a href="http://127.0.0.1:8000/"><i class="navbar-brand ms-3 ">Mert Emir Kaya</i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#content">
            <span class="navbar-toggler-icon "><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg></span>
        </button>

        <div class="collapse navbar-collapse" id="content">

            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav me-2  pe-md-5 " id="navbar-items">
                {% if 'blog' in url_name or 'search' in url_name %}
 
                <form class="" action="{%url 'search'%}" method="post" id="searchBar">
                    {%csrf_token%}
                    <input class="form-control me-2" placeholder="Search" type="search" name="searched">
                    <button class="btn btn-outline-light" type="submit">Search</button>

                </form>

                {% endif %}
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}  ">
                    <a class="nav-link " href="{% url 'home'%}">Home</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link " href="#">Projects</a>
                </li>
                <li class="nav-item {% if 'blog' in url_name  %}active{% endif %}   ">
                    <a class="nav-link " href="{% url 'blog'%}">Blog</a>
                </li>

            </ul>
            {% endwith %}
        </div>

</nav>

    {% with request.resolver_match.url_name as url_name %}
        {% if 'blog' in url_name or 'search' in url_name %}
        <nav class="navbar text-white " id="searchNavbarSecond">
            <form class="me-1 me-sm-5" action="{%url 'search'%}" method="post" id="searchBarHidden">
                {%csrf_token%}
                <input class="form-control me-2" placeholder="Search" type="search" name="searched">
                <button class="btn btn-outline-light" type="submit">Search</button>

            </form>
    </nav>
        {% endif %}
    {% endwith %}


<!--                 {% if 'blog' in url_name or 'search' in url_name %}
                <button class="btn btn-gray" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar">
                    <span class="navbar-toggler-icon "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></span>
                </button>
                <div class="collapse" id="searchBar">
                    <form class="d-flex" action="{%url 'search'%}" method="post">
                        {%csrf_token%}
                        <input class="form-control me-2" placeholder="Search" type="search" name="searched">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
                {% endif %}-->