{%extends 'layout.html'%}

{%block content%}
<main class="container mt-2" id="container">
    <div class="row">
        <div class="card flex-md-row">
            <div class="col-md-3 ">
                <img src="/media/ss.jpg" alt="" class="card-img-top p-3" id="profile-picture">
            </div>
            <div class="col-md-9">
                <div class="card-body mt-4">
                    <h2 class="card-title">Hi! I'm Mert.</h2>
                    <p class="card-text fw-bold ms-md-4 mt-md-3  ">
                         I am living in Turkey. I've been studying Computer Engineering(Computer Science) at KARADENIZ TECHNICAL UNIVERSITY and  I'm in first grade. I have been a vice president at KTUCEC Computer</p>
                    
                </div>
            </div>
        </div>
        
    </div>
</main>
{%endblock%}