{%extends 'layout.html'%}
{% block title %}About | Mert Emir Kaya {% endblock %}
{% block meta %}I am living in Turkey. I've been studying Computer Science at Karadeniz Technical University and I'm in second grade.  I love software,  I am interested in web technologies and artificial intelligence. I am actively using Django and Django Rest Framework for back-end development{% endblock %}
{% block key %}Backend developer, student, software, computer, computer science, blog, web technologies, technology, engineer, engineering{% endblock %}
{%block content%}
<main class="container mt-2 mb-4" id="container" style="min-height: 620px;">
    <div class="text-center position-absolute" id="foto1">
        <img src="/media/3.png" class="img-fluid " alt="" srcset="">
      </div>
    <div class="row pt-3 "  >
        <div class="card flex-md-row "  id="profile" >
            <div class="col-md-3 ">
                <img src="/media/pp.png" alt="" class="card-img-top p-3" id="profile-picture">
            </div>
            <div class="col-md-9">
                <div class="card-body mt-4">
                    <h2 class="card-title ms-1 justify-content-center ">Hi! I'm Mert</h2>
                    <p class="card-text  ms-md-4 mt-md-3  ">
                        I am living in Turkey. I've been studying Computer Science at Karadeniz Technical University and I'm in second grade.
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2  ">
                        I love software,  I am interested in web technologies and artificial intelligence. I am actively using Django and Django Rest Framework for back-end development, and currently learning ExpressJS.
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2">
                        I am the vice president of <a href="https://www.linkedin.com/in/ktucec/ " target="_blank">the Computer Engineering Club </a> which host social and technical events at our university. I prepare to establish a committee on web technologies under our club.
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2">
                        One minor addition, I am a huge fan of <a href="https://www.youtube.com/watch?v=8zSODUOoE8w&ab_channel=Metallica-Topic" target="_blank">Metallica</a>.  &#129304
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="text-center position-absolute " id="foto2">
        <img src="/media/4.png" class="img-fluid " alt="" srcset="">
      </div>
</main>
{%endblock%}