{%extends 'layout.html'%}

{%block content%}
<main class="container mt-2 mb-4" id="container" style="min-height: 620px;">
    <div class="text-center position-absolute" id="foto1">
        <img src="/media/3.png" class="img-fluid " alt="" srcset="">
      </div>
    <div class="row pt-3 "  >
        <div class="card flex-md-row "  id="profile" >
            <div class="col-md-3 ">
                <img src="/media/ss.jpg" alt="" class="card-img-top p-3" id="profile-picture">
            </div>
            <div class="col-md-9">
                <div class="card-body mt-4">
                    <h2 class="card-title ms-1 justify-content-center ">Hi! I'm Mert</h2>
                    <p class="card-text  ms-md-4 mt-md-3  ">
                        I am living in Turkey. I've been studying Computer Science at Karadeniz Technical University and I'm in first grade. 
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2  ">
                        I am interested in web technologies and artificial intelligence. I really love software, I am actively using Django and Django Rest Framework for back-end development, and currently learning React. Also, I am learning the python OpenCV library for image processing.
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2">
                        I am a vice president <a href="https://www.linkedin.com/in/ktucec/ " target="_blank"> of the Computer Engineering Club </a>, we are really doing crazy things here :) I am also a technical member of <a href="https://www.creatiny.com/" target="_blank"> Creatiny</a> ,  I am part of the unmanned underwater vehicle team.
                    </p>
                    <p class="card-text  ms-md-4 mt-md-2">
                        One little addition, I am a huge fan of <a href="https://www.youtube.com/watch?v=fWnKdoJlH8Q&ab_channel=Metallica-Topic" target="_blank">Metallica</a>.  &#129304
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="text-center position-absolute " id="foto2">
        <img src="/media/4.png" class="img-fluid " alt="" srcset="">
      </div>
</main>
{%endblock%}