@media(max-width:505px){
    div#article{
        max-width: 18rem;
    }

}
@media(max-width:573px){
    div#article{
        max-width: 18rem;
        margin-left: auto;
        
    }

}

div#article div#date{
    bottom: 0px;
}

@media only screen and (max-width: 1200px) and (min-width: 720px)  {
    div#article div#date{
        left: 13px;
        bottom: 40px;
    }
}


div#article div.card-body{
   min-height: 13rem;
   max-height: 5rem; 
}
div#article img#article-img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: 0.7s;
    
}
div#article img#article-img:hover{
    transform: scale(1.1);
    
}


div#article a{
    color: black;
    text-decoration: none;
}

h5#article-title:hover{
    color: rebeccapurple;
}

@media(max-width:720px){
    div#article{
        min-width: 16rem;
        margin-left: auto;
        
    }

}

div#article{
    border-radius:5%;
    box-shadow: 5px 5px 5px gray ;
    background-color: whitesmoke;
    overflow: hidden;
    
}

@media(min-width:576px){
    div#article{
        min-height: 33.5rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 720px)  {
    div#article{
        min-height: 29rem;
    }
}