body{
    background-color: #E8E6E2;
    font-family: 'Roboto', sans-serif;
    
}

#navbar  {
    background-color: #333333;
    color: black;
    opacity: 1;
    box-shadow: 0 5px 4px grey ;
    color: whitesmoke;
    
}
nav div button span svg{
    color: whitesmoke;
}
.navbar div .navbar-brand {
    font-size: x-large;
    font-weight: 700;
    
}
#navbar-items li {
    padding: 0 0.5rem;
}
#navbar-items li a{
    color: black;
    font-weight: 500;
    color: whitesmoke;
}
#navbar-items{
    margin-left: auto;
    gap: 1.3rem;
}
.nav-link{
    opacity: 0.6;
}
.nav-link:hover{
    border-radius: 5px;
    
    transform: translatey(-3px);
    opacity: 1;
    
}

.active{
    opacity: 1;
    color: black;
    text-shadow: 2px;
    font-weight: bolder;
    
}
.row .card {
    background-color: #E8E6E2;
    border: none; 
    min-height: 500px;
}

.row .card div img{
    border-radius: 50%;
    
}
    
.card-text{
    font-weight: 400;
}

a{
    text-decoration:none;
}

footer li a svg{
     opacity: 0.6;
    color: black;
    height: 1.5rem;
    width: 1.5rem;
}

footer li a svg:hover{
    opacity: 1;

}
