{%extends 'layout.html'%}

{%block content%}
<!-- <div class="text-center mt-5" >
  <img src="/media/screen.png" class="img-fluid " alt="" srcset="">
</div> -->
{%include 'partials/_categoryBar.html'%}
<div class="container d-flex mb-5" style="min-height: 675px;">
  
  <div class="row " id="blog-row">
    {%for article in articles%}

    <div class="col-10 col-sm-6 col-md-4 col-lg-3    ">
      <div class="card  mt-4 ms-sm-2 " id="article">
        <img src="{{article.card_image.url}}" class="card-img-top" id="article-img">
        <div class="card-body h-100">
          <a href="{% url 'article_detail' article.category.slug article.pk  %}" id="blog-link">
            <h5 class="card-title" id="article-title">{{article.title}}</h5>
          </a>
          <p class="card-text mt-3 pt-1 border-top">{{article.card_headline|truncatechars:50}}</p>

    
        </div>
          
        <div class=" btn  btn-sm  ms-3 mb-3 position-absolute bottom-0 start-0 " style="font-size:14px ;" id="subject">{{article.category}}</div>
        <div class="text-muted position-absolute bottom-0 end-0 mb-3 me-3"  style="font-size: 15px;">{{article.created_date}}</div>
          

      </div>
    </div>

    {%endfor%}
  </div>
</div>


<script>
  const btns = ['btn-outline-primary', 'btn-outline-secondary', 'btn-outline-success', 'btn-outline-danger', 'btn-outline-info',]

  const blogCards = document.querySelectorAll('div#subject')


  blogCards.forEach(fonk)
  function fonk(item) {
    var randomIndex = Math.floor(Math.random() * btns.length);
    item.classList.add(btns[randomIndex])
  };
</script>
{%endblock%}


<!-- <div class="card mt-4 me-4" style="width: 18rem;" id="article">
  <img src="{{article.card_image.url}}" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
    <p class="card-text">{{article.headline}}</p>
    
  </div>
</div>   -->